@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-bckgrndColor: hsl(217, 54%, 11%);
  --card-bckgrndColor: hsl(216, 50%, 16%);
  --darkBlue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --color: #fff;
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primiary-cyan: hsl(178, 100%, 50%);
}

body {
  background-color: var(--main-bckgrndColor);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1280px) {
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .cardContainer {
    width: 80vw;
    background-color: var(--card-bckgrndColor);
    margin-top: 40px;
    border-radius: 15px;
    padding: 20px;
  }
  .mainCard {
    border-radius: 15px;
  }
  .cardImg {
    display: block;
    max-width: 100%;
    border-radius: 10px;
  }
  article h2 {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 300;
    padding: 20px 0px 20px;
  }
  article p {
    color: var(--primary-soft-blue);
    font-size: 0.94rem;
    line-height: 1.5;
  }
  .cardPricing {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 15px 0px 15px;
  }
  .cardValue {
    color: var(--primiary-cyan);
    padding-left: 10px;
  }
  span.cardDuration {
    color: var(--primary-soft-blue);
  }
  .icon1 {
    width: 10px;
  }
  hr {
    height: 1px;
    background-color: var(--primary-soft-blue);
    border: none;
    opacity: 0.4;
  }
  .cardFooter {
    display: flex;
    align-items: center;
    padding: 20px 0 10px;
    font-size: 0.9rem;
  }
  .imgAvatar {
    border-radius: 50%;
    border: 1px solid var(--white);
    width: 12%;
    margin-right: 20px;
  }
  .cardFooter span {
    color: var(--primary-soft-blue);
  }
}
