@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(217, 54%, 11%);
  color: #fff;
  font-family: "Outfit", sans-serif;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .cardContainer {
    max-width: 80vw;
    background: hsl(216, 50%, 16%);
    margin: 40px auto;
    border-radius: 10px;
    padding-top: 20px;
  }
  .cardImg {
    max-width: 70vw;
    display: block;
    margin: 0px auto;
    border-radius: 5px;
  }
  article > h2 {
    padding: 15px 20px 10px;
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    font-weight: 300;
  }
  article p {
    color: hsl(215, 51%, 70%);
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 300;
  }
  .imgAvatar {
    border-radius: 50%;
    max-width: 50%;
    margin-top: -5px;
  }
  .cardPricing {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 14px;
  }
  .cardValue {
    color: hsl(178, 100%, 50%);
  }
  .cardDuration {
    color: hsl(215, 51%, 70%);
  }

  .icon1,
  .icon2 {
    height: 13px;
    padding-right: 5px;
  }
  hr {
    color: hsl(215, 51%, 70%);
    opacity: 0.2;
    width: 85%;
    margin: 5px 20px;
  }
  .cardFooter {
    padding: 20px 20px 27px;
    display: flex;
  }
  .imgAvatar {
    width: 13%;
    border: 1px solid #fff;
  }
  .cardAuthor {
    color: hsl(215, 51%, 70%);
    padding-left: 15px;
  }
  .cardAuthor span {
    color: #fff;
  }
}
